.main-container{
    width: 1200px;
    margin: 0 auto;
    /* outline: 1px dotted greenyellow; */
}
.container{
    width: 905px;
    margin: 0 auto;
    padding: 0;
    /* outline: 1px dotted red; */
}